name: build-publish-deploy
on:
  push:
  workflow_dispatch:

env:
  PWF_CLUSTER_NAME: aks-pwf-fint-2021-10-20
  PWF_CLUSTER_RESOURCE_GROUP: rg-aks-pwf

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{steps.meta.outputs.tags}}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: '21'

      - uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - run: ./gradlew build --no-daemon --parallel

      - name: Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{github.repository}}
          tags: |
            type=ref,event=branch,suffix=-{{sha}}
            type=ref,event=pr,suffix=-{{sha}}
            type=sha,prefix={{date 'YYYY-MM-DD-'}},enable={{is_default_branch}}
            type=raw,value=latest,enable={{is_default_branch}}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{github.actor != 'dependabot[bot]'}}
          tags: ${{steps.meta.outputs.tags}}
          labels: ${{steps.meta.outputs.labels}}

  deploy-pwf:
    if: github.ref == 'refs/heads/main'
    needs: build-and-publish
    environment: pwf
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: azure/login@v2
        with:
          creds: '${{secrets.AKS_PWF_FINT_GITHUB}}'

      - uses: azure/aks-set-context@v4
        with:
          cluster-name: ${{env.PWF_CLUSTER_NAME}}
          resource-group: ${{env.PWF_CLUSTER_RESOURCE_GROUP}}
          admin: true

      - uses: azure/k8s-deploy@v5.0.4
        with:
          manifests: k8s-pwf.yaml
          images: ${{needs.build-and-publish.outputs.tags}}
          namespace: default
          pull-images: false