name: build-publish-deploy
on:
  push:
  workflow_dispatch:

env:
  REGISTRY_NAME: fintlabsacr
  PWF_CLUSTER_NAME: aks-pwf-fint-2021-10-20
  PWF_CLUSTER_RESOURCE_GROUP: rg-aks-pwf
  NAMESPACE: default

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Gradle wrapper validation
        uses: gradle/wrapper-validation-action@v1

      - name: Gradle setup
        uses: gradle/gradle-build-action@v3

      - name: Gradle build
        run: |
          ./gradlew clean build --no-build-cache

  publish:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Get repo name
        run: echo "REPO_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Connect to Azure Container Registry (ACR)
        uses: azure/docker-login@v2
        with:
          login-server: ${{env.REGISTRY_NAME}}.azurecr.io
          username: ${{secrets.REGISTRY_USERNAME}}
          password: ${{secrets.REGISTRY_PASSWORD}}

      - name: Container build and push to a Azure Container Registry (ACR)
        run: |
          docker build . -t ${{env.REGISTRY_NAME}}.azurecr.io/${{env.REPO_NAME}}:${{github.sha}}
          docker push ${{env.REGISTRY_NAME}}.azurecr.io/${{env.REPO_NAME}}:${{github.sha}}

  deploy-pwf:
    needs: publish
    environment: pwf
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Get repo name
        run: echo "REPO_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Set the target PWF cluster.
        uses: azure/aks-set-context@v4
        with:
          creds: '${{secrets.AKS_PWF_FINT_GITHUB}}'
          cluster-name: ${{env.PWF_CLUSTER_NAME}}
          resource-group: ${{env.PWF_CLUSTER_RESOURCE_GROUP}}

      - name: Deploy to PWF
        uses: azure/k8s-deploy@v3
        with:
          manifests: |
            k8s-pwf.yaml
          images: |
            ${{env.REGISTRY_NAME}}.azurecr.io/${{env.REPO_NAME}}:${{github.sha}}
          namespace: ${{env.NAMESPACE}}
          pull-images: false