name: build-publish-deploy
on:
  push:
  workflow_dispatch:

env:
  REGISTRY_NAME: fintlabsacr
  PWF_CLUSTER_NAME: aks-pwf-fint-2021-10-20
  PWF_CLUSTER_RESOURCE_GROUP: rg-aks-pwf
  NAMESPACE: default

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{steps.meta.outputs.tags}}
    steps:
      - uses: actions/checkout@v6

      - name: Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{github.repository}}
          tags: |
            type=ref,event=branch,suffix=-{{sha}}
            type=ref,event=pr,suffix=-{{sha}}
            type=sha,prefix={{date 'YYYY-MM-DD-'}},enable={{is_default_branch}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{github.actor != 'dependabot[bot]'}}
          tags: ${{steps.meta.outputs.tags}}
          labels: ${{steps.meta.outputs.labels}}

  deploy-pwf:
    if: github.ref == 'refs/heads/main'
    needs: build-and-publish
    environment: pwf
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Get repo name
        run: echo "REPO_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: '${{secrets.AKS_PWF_FINT_GITHUB}}'

      - name: Set up kubelogin
        uses: azure/use-kubelogin@v1
        with:
          kubelogin-version: 'v0.0.24'

      - name: Set the target cluster.
        uses: azure/aks-set-context@v4
        with:
          cluster-name: ${{env.PWF_CLUSTER_NAME}}
          resource-group: ${{env.PWF_CLUSTER_RESOURCE_GROUP}}
          admin: true

      - name: Deploy to PWF
        uses: azure/k8s-deploy@v5.0.3
        with:
          manifests: k8s-pwf.yaml
          images: ${{needs.build-and-publish.outputs.tags}}
          namespace: ${{env.NAMESPACE}}
          pull-images: false